body {
  font-family:Arial, Helvetica, sans-serif;
  background-color:lightpink
}

.wrapper {
  background-color: white;
  max-width: 960px;
  margin: 0 auto;
  border: 2px solid gray;
  box-shadow: 2px 2px 20px black;
}

header {
  background-color:plum;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

img {
  max-width: 100%;
}

nav {
  background-color: thistle;
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  font-size: 100%;
  padding: 1rem;
  border-radius: 30px;
  box-shadow: inset 2px 2px 10px black;
  text-wrap: balance;
}

nav ul {
  display: grid;
  align-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
}

nav a:hover {
  background-color: white;
  border-radius: 1rem;
  padding: .5rem;
}

nav a {
  text-decoration: none;
  color: purple;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding: .5rem;
}

.right-column {
  padding: 1rem 2rem;
  font-size: 135%;
  line-height: 1.4;
}

.right-column h2 {
  font-size: 150%;
  border-bottom: 1px solid #b04688;
  color: #b04688;
}

.right-column img {
  border: 3px solid white;
  border-radius: 15px;
}

.right-column figcaption {
  margin-top: .5rem;
}

footer {
  background-color: rgb(238, 205, 238);
  padding: 1em;
  display: flex;
}