body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightpink;
}

.wrapper {
  margin: 0 auto;
  max-width: 960px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;
  padding: 1rem;
}

header {
  grid-column: span 2;
  text-align: center;
  background-color: plum;
  padding: 3rem;
  font-size: 290%;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 1rem;
}

header a {
  text-decoration: none;
  color: black;
}

main {
  background-color: white;
  padding: 2em 2rem;
  border-radius: 2rem;
  /* display: grid; */
  /* grid-template-columns: 0.5fr 1fr; */
  /* gap: 1rem; */
}

footer {
  clear: both;
  grid-column: span 2;
  background-color: rgb(238, 205, 238);
  padding: 2em;
  display: flex;
}

img {
  max-width: 100%;
}

nav {
  text-transform: uppercase;
  background-color: #b04688;
  border: 2px solid #b04688;
  border-radius: 2em;
  padding: 1rem;
  text-align: center;
}

nav ul {
  justify-content: space-around;
  flex-wrap: wrap;
}

nav li {
  list-style-type: none;
  padding-bottom: 2em;
  padding-top: 2rem;
}

nav a {
  display: block;
  text-align: center;
  color: white;
  padding: 1em 0;
  text-decoration: none;
  border-bottom: 3px solid silver;
}

nav a:hover {
  background-color: black;
  border-radius: 2rem;
}

.proof_of_concept {
  float: right;
  border: 5px solid white;
  box-shadow: 2px 2px 7px black;
  margin: 0 0 1rem 1rem;
}

.right-column {
  padding: 1rem 2rem;
  font-size: 135%;
  line-height: 1.4;
}

.right-column h2 {
  font-size: 150%;
  border-bottom: 1px solid #b04688;
  color: #b04688;
}

.right-column img {
  border: 3px solid white;
  border-radius: 15px;
}

.right-column figcaption {
  margin-top: .5rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: .5rem;
  padding: .5rem;
}

.column {
  text-align: center;
}

.column a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: block;
  padding: 0.5em 0;
}

.column a:hover {
  background-color: black;
  border-radius: 0.5rem;
  color: white;
}